# Codes below are implemented in R in the video lecture

In [1]:
# We are commenting

In [2]:
# c() for entering dataset in R

In [3]:
# data = {35, 8, 10, 23, 42}

In [4]:
data.1=c(35, 8, 10, 23, 42)

In [5]:
data.1

[1] 35  8 10 23 42

In [6]:
print(data.1)

[1] 35  8 10 23 42

In [7]:
data.1=c(35, 8, 10,     23,     42)

In [8]:
print(data.1)

[1] 35  8 10 23 42

In [9]:
data.1=c(35, 8, 10,     23     42)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:32: unexpected numeric constant
1: data.1=c(35, 8, 10,     23     42
                                   ^

In [10]:
summary(data.1)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    8.0    10.0    23.0    23.6    35.0    42.0

In [11]:
mean(data.1)

[1] 23.6

In [12]:
sum(data.1)/5

[1] 23.6

In [13]:
sd(data.1)

[1] 14.97665

In [14]:
!tar cvfz allfiles.tar.gz *

ERROR: Error in parse(text = x, srcfile = src): <text>:1:6: unexpected symbol
1: !tar cvfz
         ^